# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [3]:
# Your code here:

df = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [ ]:
# Your code here:

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:

df.isnull().any()

Name                 False
Job Titles           False
Department           False
Full or Part-Time    False
Salary or Hourly     False
Typical Hours         True
Annual Salary         True
Hourly Rate           True
dtype: bool

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

df["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
df["Department"].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:

import scipy.stats as st
import numpy as np

In [ ]:
#   H0: mu hour rate =30/h
#   H1: mu hour rate != 30/h

In [ ]:
#Choose significance / confidence level
# significance level -> 5%

alpha = 0.05

In [8]:
c_sample = df['Hourly Rate'].sample(1000)
c_sample.head()

23749    26.11
15916      NaN
23106      NaN
9222       NaN
17300      NaN
Name: Hourly Rate, dtype: float64

In [9]:
mean = c_sample.mean()
std = c_sample.std(ddof=1)
#display(mean)
#display(std)

stat = (mean - 30)/ (std/ np.sqrt(1000))
stat

8.208910289828948

In [10]:
p_value = st.t.sf(abs(stat), 1000 -1) *2
p_value  #if the mean is 17, it can happen 32% of the times.

6.84178050543527e-16

In [11]:
p_value < 0.05 #REJECT

True

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [14]:
# Your code here:


c2_sample = df[df['Department'] =="POLICE"].sample(30)
c2_sample

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4974,"CINTRON, DAVID",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
26692,"SCHNOOR, KELLY A",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
2198,"BILINA, MICHAEL J",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
17812,"MALONEY, CODY",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
7499,"DONNELLY, MICHAEL",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
8404,"ESTRADA, NESTOR",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
1175,"AUSTIN, RICHARD A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
10173,"GAYTAN, PEGGY E",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
24461,"RENAULT, PHILLIP",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
5412,"COLLINS, MICHAEL J",POLICE OFFICER,POLICE,F,Salary,NaN,84054.0,NaN
27662,"SMITH, CRYSTAL",SENIOR DATA ENTRY OPERATOR,POLICE,F,Salary,NaN,63876.0,NaN
5940,"CRADICK, PATRICK M",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,91080.0,NaN
610,"ALVAREZ, JAVIER",POLICE OFFICER,POLICE,F,Salary,NaN,80016.0,NaN
1326,"BAIG, MIRZA M",POLICE ADMINISTRATIVE CLERK,POLICE,F,Salary,NaN,40392.0,NaN
28197,"SPIZZIRRI, EDWARD A",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN
23848,"PURTELL, BRIAN P",POLICE OFFICER,POLICE,F,Salary,NaN,87006.0,NaN
24078,"RAMIREZ, JULIE",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
29394,"THOMAS, DAWN D",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
9914,"GARCIA, LIA",POLICE OFFICER,POLICE,F,Salary,NaN,72510.0,NaN
31994,"WILLIAMS, GARY L",SERGEANT,POLICE,F,Salary,NaN,107988.0,NaN
19025,"MC KENZIE, PATRICK J",LIEUTENANT,POLICE,F,Salary,NaN,123894.0,NaN
16273,"LAPADULA, MARC A",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
9589,"GADDY, REGINA",POLICE OFFICER,POLICE,F,Salary,NaN,48078.0,NaN
10704,"GONZALEZ, EVELYN",POLICE ADMINISTRATIVE CLERK,POLICE,F,Salary,NaN,40392.0,NaN
698,"ANAYA, ERNESTO",POLICE OFFICER,POLICE,F,Salary,NaN,68616.0,NaN
8860,"FINK, CHRISTOPHER",POLICE OFFICER,POLICE,F,Salary,NaN,68616.0,NaN
19909,"MOE, CARLITO P",LABORATORY TECHNICIAN III,POLICE,F,Salary,NaN,73440.0,NaN
17883,"MANNION, MICHAEL T",POLICE OFFICER,POLICE,F,Salary,NaN,76266.0,NaN
28398,"STELLA, NICHOLAS D",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
8065,"EDWARDS JR, ELMORE",POLICE OFFICER,POLICE,F,Salary,NaN,96060.0,NaN

Using the `crosstab` function, find the department that has the most hourly workers.

In [13]:
# Your code here:



c2_sample_f = c2_sample['Annual Salary']
c2_sample_f.head()

8479      93354.0
29024     94122.0
29160     87006.0
30355     96060.0
3510     107988.0
Name: Annual Salary, dtype: float64

In [15]:
mean = c2_sample_f.mean()
std = c2_sample_f.std(ddof=1)
mu = 86000 # the mean given to us

stat = (mean - 86000)/ (std/ np.sqrt(30))
stat

-0.2225193533941137

In [16]:
p_value = st.t.sf(abs(stat), 30-1) *2
p_value  #if the mean is 17, it can happen 32% of the times.

0.8254693921232181

In [17]:
p_value < 0.05  #DON'T REJECT

False

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [ ]:
# Your code here:

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval.
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers.

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [18]:
# Your code here:



import numpy as np
from scipy.stats import t
from scipy.stats import sem

In [19]:
hourly_rate = df['Hourly Rate'].dropna()

confidence_interval = st.t.interval(0.95, len(hourly_rate)-1, loc=hourly_rate.mean(), scale=st.sem(hourly_rate))
confidence_interval

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [20]:
# Your code here:

hourly_rate_police = df.loc[df['Department'] == 'POLICE', 'Hourly Rate'].dropna()

confidence_interval = st.t.interval(0.95, len(hourly_rate_police) - 1, loc=hourly_rate_police.mean(), scale=st.sem(hourly_rate_police))
confidence_interval

(9.31381234362183, 9.45418765637817)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction.

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [ ]:
# Your code here: